#package {
  color: #0559BE;
  font-weight: bold;
}

.sidepanel-stats {
  color: #0559BE;
  font-weight: bold;
}

#sidepanel-stats-div{
  margin-top: -1rem;
}

.btn-secondary {
  color: #0559BE;
  background-color: white;
  border-color: #b2b2b2;
}

.btn-secondary:hover {
  color: #0559BE;
  background-color: #e6e6e6;
  border-color: #b2b2b2;
}

.btn-secondary:focus,
.btn-secondary.focus {
  color: #044798;
  background-color: #cccccc;
  box-shadow: 0 0 0 .25rem rgba(5,89,190,0.25);
}

.btn-secondary.disabled,
.btn-secondary:disabled {
    color: #191919bf;
    background-color: #cccccc;
    border-color: #b2b2b2;
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show>.btn-secondary.dropdown-toggle {
    color: #FFFFFF;
    background-color: #0559BE;
    border-color: #0559BE;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .25rem rgba(5,89,190,0.25);
}
