#package {
  color: #0559BE;
  font-weight: bold;
}

.assertion {
  color:  red;
  font-weight: bold;
}

.sidepanel-stats {
  color:  #0559BE;
  font-weight: bold;
}

.github-corner > svg {
  fill: #0559BE !important;
  width: 100px;
  height: 100px;
}
